#set( $programName = "GenerateOrder-" + $version + "-SNAPSHOT.jar")
echo "$(date): started" >> log.txt &&
java -jar $programName 1 &&
echo "$(date): first stage script generated" >> log.txt &&
#foreach ($i in [1..$numberOfMasks])
#set( $stroka = $project + "_firstSTAGE" + $i + ".svrf &&")
calibre -drc $stroka
echo "$(date): first stage for mask $i done" >> log.txt &&
#end
java -jar $programName 2 &&
echo "$(date): second stage script generated" >> log.txt &&
#foreach ($i in [1..$numberOfMasks])
#set( $stroka = $project + "_secondSTAGE" + $i + ".svrf > " + $project + "_log_" + $i + ".txt &&")
calibre -drc $stroka
echo "$(date): second stage for mask $i done" >> log.txt &&
#end
java -jar $programName 3 &&
echo "$(date): third stage script generated" >> log.txt
