<?xml version="1.0" encoding="utf-8"?>
<klayout-macro>
 <description/>
 <version/>
 <category>drc</category>
 <prolog/>
 <epilog/>
 <doc/>
 <autorun>false</autorun>
 <autorun-early>false</autorun-early>
 <shortcut/>
 <show-in-menu>true</show-in-menu>
 <group-name>drc_scripts</group-name>
 <menu-path>tools_menu.drc.end</menu-path>
 <interpreter>dsl</interpreter>
 <dsl-interpreter-name>drc-dsl-xml</dsl-interpreter-name>
 <text>inp = layout("$fileName","$primary")
target("$result","TOP")
verbose(true)

res = inp.input($gdsRes,0)

#foreach ($i in [1..100])
#set( $namelightCD = "lightFieldCD" + $i )
#set( $stroka = $namelightCD + " = inp.input(" + $lightCD + "," + $i + ") &amp; res" )
$stroka
#set( $stroka1 = $namelightCD + ".output("+ $lightCD + "," + $i + ")" )
$stroka1
#end

#foreach ($i in [1..100])
#set( $namedarkCD = "darkFieldCD" + $i )
#set( $stroka = $namedarkCD + " = inp.input(" + $darkCD + "," + $i + ") - res" )
$stroka
#set( $stroka1 = $namedarkCD + ".output("+ $darkCD + "," + $i + ")" )
$stroka1
#end

#foreach ($i in [1..100])
#set( $namelightMLT = "lightFieldMLT" + $i )
#set( $stroka = $namelightMLT + " = inp.input(" + $lightMLT + "," + $i + ") &amp; res" )
$stroka
#set( $stroka1 = $namelightMLT + ".output("+ $lightMLT + "," + $i + ")" )
$stroka1
#end

#foreach ($i in [1..100])
#set( $namedarkMLT = "darkFieldMLT" + $i )
#set( $stroka = $namedarkMLT + " = inp.input(" + $darkMLT + "," + $i + ") - res" )
$stroka
#set( $stroka1 = $namedarkMLT + ".output("+ $darkMLT + "," + $i + ")" )
$stroka1
#end

</text>
</klayout-macro>