<?xml version="1.0" encoding="utf-8"?>
<klayout-macro>
 <description/>
 <version/>
 <category>drc</category>
 <prolog/>
 <epilog/>
 <doc/>
 <autorun>false</autorun>
 <autorun-early>false</autorun-early>
 <shortcut/>
 <show-in-menu>true</show-in-menu>
 <group-name>drc_scripts</group-name>
 <menu-path>tools_menu.drc.end</menu-path>
 <interpreter>dsl</interpreter>
 <dsl-interpreter-name>drc-dsl-xml</dsl-interpreter-name>
 <text>inp = layout("$fileName","TOP")
 target("$result","TOP")
 #foreach ($i in [1..100]) 
 #set( $line = $lightCDName + " = inp.input(" + $lightCD + "," + $i + ")" )
 $line
 #set( $line = $darkCDName + " = inp.input(" + $darkCD + "," + $i + ")" )
 $line
 #set( $line = $lightMLTName + " = inp.input(" + $lightMLT + "," + $i + ")" )
 $line
 #set( $line = $darkMLTName + " = inp.input(" + $darkMLT + "," + $i + ")" )
 $line
 #set( $line = "log_file(\" " + $fileName + ".txt\") " )
 $line
 verbose(true)
 #set( $line = "log(\"area= #{" + $lightCDName + ".area}\")" )
 $line
 #set( $line = "log(\"bbox= #{" + $lightCDName + ".bbox}\")" )
 $line
 #set( $line = "log(\"area= #{" + $darkCDName + ".area}\")" )
 $line
 #set( $line = "log(\"bbox= #{" + $darkCDName + ".bbox}\")" )
 $line
  #set( $line = "log(\"area= #{" + $lightMLTName + ".area}\")" )
 $line
 #set( $line = "log(\"bbox= #{" + $lightMLTName + ".bbox}\")" )
 $line
 #set( $line = "log(\"area= #{" + $darkMLTName + ".area}\")" )
 $line
 #set( $line = "log(\"bbox= #{" + $darkMLTName + ".bbox}\")" )
 $line
 #end
</text>
</klayout-macro>
